:root {
  --primary-color: #66fcf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #1f2833;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #fff;
}